<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<!-- Fragmento de cabeçalho (barra de navegação) -->
<nav class="navbar navbar-dark bg-primary" th:fragment="header">
    <a class="navbar-brand" href="/jogos">
        <!-- Imagem do logo IFMT (substitua pelo seu logo ou remova se não usar) -->
        <img src="/images/ifmt.png" width="50" height="50" alt="IFMT"/>
        Gerenciador de Coleção de Jogos
    </a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/jogos/novo">Novo Jogo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jogos">Listar Jogos</a>
        </li>
    </ul>
</nav>
</body>
</html>
